In [3]:
import requests
import pandas as pd
import datetime
from datetime import datetime,timedelta

In [4]:
token1="d7591ce3d3701fe7cb970bef3524ff1e3874963b"

In [5]:
SP=pd.read_csv("P500stocks.csv")

In [6]:
ticker_symbols=list(SP["Symbol"])
ticker_symbols.append("SPY")
end_date=str(datetime.now().date()-timedelta(days=1))

In [7]:
data1=[]
for symbol in ticker_symbols:
        #with rate_limiter:
                try:
                        url = "https://api.tiingo.com/tiingo/daily/{}/prices?startDate=2000-01-03&endDate={}&format=csv&token={}".format(symbol,end_date,token1)
                        r = requests.get(url,timeout=10)

                        rows=r.text.split("\n")[1:-1]

                        df=pd.DataFrame(rows)
                        df=df.iloc[:,0].str.split(",",13,expand=True)
                        df["Symbol"]=symbol

                        data1.append(df)

                except requests.exceptions.ReadTimeout:
                        url = "https://api.tiingo.com/tiingo/daily/{}/prices?startDate=2000-01-03&endDate={}&format=csv&token={}".format(symbol,end_date,token1)
                        r = requests.get(url,timeout=20)

                        rows=r.text.split("\n")[1:-1]

                        df=pd.DataFrame(rows)
                        df=df.iloc[:,0].str.split(",",13,expand=True)
                        df["Symbol"]=symbol

                        data1.append(df)
                
                #skip if call yield empty/not found
                except IndexError:
                        continue

In [8]:
df_final=pd.concat(data1)
df_final.drop(df_final.iloc[:,6:13],axis=1,inplace=True)
df_final.to_csv("historicalSP_quotes.csv",index=False)

In [9]:
df_final.to_csv("gs://spstockprices/historicalSP-quotes.csv")

In [10]:
df_final

               0       1       2       3       4        5 Symbol
0     2000-01-03   94.38   96.44   94.06   96.06  1086700    MMM
1     2000-01-04   90.63   94.81   90.63   92.88  1356900    MMM
2     2000-01-05   95.25   95.31   91.13   91.13  1849700    MMM
3     2000-01-06   100.8   102.5   94.31   94.31  2987900    MMM
4     2000-01-07   102.8   103.8   99.94   101.1  2050600    MMM
...          ...     ...     ...     ...     ...      ...    ...
5445  2022-02-14  327.44   331.3  324.62  329.25   457977    CRL
5446  2022-02-15  312.63  334.63  307.68  333.18  1293474    CRL
5447  2022-02-16  305.28  308.13  286.97   294.0  1286569    CRL
5448  2022-02-17  291.63  306.54  289.02   306.0   947662    CRL
5449  2022-02-18  293.61  299.92  290.13  293.32   654501    CRL

[490298 rows x 7 columns]